body {
  font-family: Verdana;
  font-size: 1.5em; }
  body h1 {
    color: red; }

#team-members {
  clear: both; }
  #team-members .member {
    float: left;
    border: 1px solid gray;
    margin: 10px;
    padding: 6px; }
    #team-members .member:nth-of-type(2n+1) img:hover {
      -webkit-filter: saturate(50%) sepia(100%);
      filter: saturate(50%) sepia(100%);
      -webkit-transform: rotate(-360deg) scale(0.5);
      transform: rotate(-360deg) scale(0.5);
      box-shadow: -2px -1px 20px rgba(0, 0, 0, 0.5); }
    #team-members .member:nth-of-type(2n) img:hover {
      -webkit-filter: saturate(100%) sepia(50%);
      filter: saturate(100%) sepia(50%);
      -webkit-transform: rotate(360deg) scale(1.2);
      transform: rotate(360deg) scale(1.2);
      box-shadow: -4px -1px 20px rgba(0, 0, 0, 0.7); }
    #team-members .member img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      box-shadow: -4px -1px 30px;
      transition: all .5s ease-in-out; }
    #team-members .member div.name {
      text-align: center; }
